.phone-input {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.phone-input input {
  border: none;
  width: 100%;
  outline: none;
  padding: 10px 0;
  font-size: 16px;
}

.phone-input .PhoneInputCountry {
  padding-right: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
}
